@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #FDFAFB;
  --primary: #DA4B83;
  --secondary: #484731;
  --font-sans: var(--font-roboto);
  --font-inter: var(var(--font-inter))
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins);
  --font-inter: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}